[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "lib/Selene"]
	path = lib/Selene
	url = https://github.com/jeremyong/Selene
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
